<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>New Mission</h1>

<%= render 'form', mission: @mission %>

<%= link_to 'Back', missions_path %>
</div><!-- .col-md-12 -->
</div><!-- .row -->
